<launch>
  <node name="sim" pkg="frc_utils" type="Simulator.py" />
  <arg name="model" default="$(find my_lib)/src/urdf/main_urdf.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />
  <node name="joystick" pkg="my_lib" type="JoyStick.py" output="screen"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="link2link" args="0 0 0 0 0 0 true/base_link /base_link 50" />  -->
</launch>
